<%= nested_form_for @region, :html => {:class => 'form'} do |f| %>
  <% if @region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
      <% @region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <%= f.label :entries %>
  <%= f.fields_for :entries do |t| %>
    <%= t.label :name %>
    <%= t.text_field :name %>
    <%= t.label :content %>
    <%= t.text_area :content %>
    <%= t.link_to_remove "Remove this entry" %>
  <% end %>
  <%= f.link_to_add "Add a entry", :entries %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
