<%= nested_form_for @region, :html => {:class => 'form'} do |f| %>
  <% if @region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
      <% @region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ssid %><br>
    <%= f.text_field :ssid %>
  </div>
    <div>
      <div class="header">
        <h3><%= f.label :entries %></h3>
      </div>
      <%= f.fields_for :entries do |t| %>
        <%= t.label :name %><br>
        <%= t.text_field :name ,:class =>"form-control",:placeholder=>"Please describle the type of info"  %><br>
        <%= t.label :content %><br>
        <%= t.text_area :content ,:class=>"form-control" ,:rows=>"3"%><br>
        <h6>(or perhaps you would like to upload a picture)</h6>
        <%= t.label :picture %><br>
        <%= t.file_field :picture %><br>
        <%= t.link_to_remove "Remove this entry" ,:class => "btn btn-default" %>
        <hr>
      <% end %>
    </div>
    <%= f.link_to_add "Add an Entry", :entries ,:class => "btn btn-default"%>

    <div class="actions">
      <%= f.submit :class => "btn btn-default" %>
    </div>
    <% end %>
