<p id="notice"><%= notice %></p>


  <h1><%= @region.name %>
  <sub><%= @region.ssid %></sub></h1>

<ul>
<% @region.entries.each do |t| %>
    <li>
    <h3><%= t.name %></h3>
    <p><%= t.content %></p>
    </li>
<% end %>
</ul>
<% user_signed_in? %>
<%  if current_user == @region.user %>
<%= link_to 'Edit', edit_region_path(@region) , :class => "btn btn-default" %> |
<%= link_to 'Back', regions_path , :class => "btn btn-default"%>
<% end %>