<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>
<p>
  <strong>SSID:</strong>
  <%= @region.ssid %>
</p>

<strong>Entries:</strong>
<table>
<thead>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @region.entries.each do |t| %>
  <tr>
    <td><%= t.name %></td>
    <td><%= t.content %></td>
    <td><%= image_tag (t.picture) if t.picture? %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= @region.updated_at %>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
